.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;

  & > div {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &:nth-of-type(2n) section { color: var(--color-text); }
    &:nth-of-type(2n+3) section { color: var(--color-text-inverse); }

    & > section {
      display: flex;
      flex-wrap: wrap;
      width: 55vw;
      min-width: 320px;
      min-height: 100%;
      padding: var(--padding);
      line-height: 1.5em;
      gap: 1.5rem;
    }
  }
}

#splash {
  section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-height: calc(100vh - 6rem);

    & > img {
      max-width: 65%;
      min-width: 35rem;
      shape-outside: circle();
      //shape-outside: polygon(4.82% 9.46%, 21.8% 17.69%, 19.49% 7.84%, 32.68% 4.81%, 48.92% 23%, 71.71% 3.13%, 94.77% 8.37%, 82.89% 36.26%, 100.11% 36.64%, 76.9% 47.16%, 99.96% 69.78%, 96.43% 86.43%, 75.69% 83.48%, 70.58% 99.96%, 50.62% 89.37%, 29.08% 99.9%, 27.91% 87.85%, 1.13% 80.7%, 1.84% 68.93%, 23.76% 48.59%, 0.87% 39.31%, 0.76% 16.09%);
      transition: filter 0.5s;
      animation: small-spin 120s ease-in-out 1s infinite;
      animation-play-state: paused;

      &:hover {
        filter: drop-shadow(0 0 0.25rem var(--color-text));
        animation-play-state: running;
      }
    }

    h1 {
      font-size: 5rem;
      line-height: 1.05;
    }

    span {
      font-size: 1.5rem;
      font-weight: 550;
    }

    .highlight {
      color: var(--color-bg-secondary);
      font: inherit;
      font-weight: inherit;
      font-size: inherit;
    }
  }
}

#about {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-inverse);
  padding: 5rem 0;
  box-shadow: 0 0.3rem 0.5rem -0.15rem #3f474f88;
  border-bottom: 2px solid var(--color-border);
  .toggle-text::after { 
    opacity: 0; 
    transition: all 0.5s;
  }
  .InlineTextRadio:checked + * .toggle-text::after,
  &:hover .toggle-text::after { opacity: 1; }

  section {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;

    h3 {
      display: flex;
      flex-basis: 100%;
      
      // a { transition: all 0.2s; }
      // a:hover { text-shadow: 2px 2px 2px var(--color-text), -2px -2px 2px var(--color-text); }
    }

    & > div:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex: 1 1;
    }

    output {
      color: var(--color-text);
      border: 2px solid var(--color-border);
      border-radius: var(--radius);
      background: url('../assets/noise.svg'), var(--color-bg);
      padding: calc(3 * var(--padding));
      box-shadow: inset 0 0 0.3rem 0 var(--color-text);
      display: flex;
      min-width: min(300px, 100%);
      width: calc(50% - 2rem);
      min-height: 3rem;
      flex: 1 1;
    }
  }
}

#projects {
  color: var(--color-text-inverse);
  background: none;
  padding: 5rem 0;

  section {
    flex-direction: column;
    gap: 0.5rem;

    .section-heading {
      margin-bottom: 1.5rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & > * { 
      width: calc(100% + 2.5rem); 
      max-width: calc(100vw - 4.5rem); 
    }

    label > input {
      display: none;

      & + li {
        & > img { 
          max-width: 0; 
          max-height: 0;
          transition: all 0.5s;
          margin: -0.5rem;
          border: 2px solid;
          border-color: #0000;
          border-radius: var(--radius);
        }

        & > .tabs {
          max-height: 0;
          opacity: 0;
          margin: 0;
          transition: all 0.5s;
          overflow: hidden;
        }
      }

      &:checked + li {
        & > img { 
          max-width: 300px; 
          max-height: 300px;
          margin: 0;
          border-color: var(--color-border);
        }

        & > .tabs {
          max-height: unset;
          opacity: 1;
          margin-top: 1rem;
        }
      }
    }
  }

  ul li {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #0000;
    border-radius: var(--radius);
    box-shadow: 0 0 0 0 #0000;
    transition-property: border-color, box-shadow;
    transition-duration: .4s;
    position: relative;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      box-shadow: -0.5rem -0.5rem 0 0 var(--color-bg-secondary);
      border-color: var(--color-border);
    }
    
    .project-title { 
      width: 100%; 
      display: flex;
      align-items: center;
      gap: var(--font-size);

      img {
        width: 0.9em;
        border: none;
      }
    }

    & > img, 
    & > div {
      flex-basis: 200px;
      flex-grow: 1;
    }
  }

  .tabs {
    margin: 0;
    width: 100%;
    overflow: hidden;
    max-width: calc(55vw - 3.5rem);
    min-width: 300px;

    nav {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      visibility: hidden;
      transform: rotateX(180deg);
      &:hover { visibility: visible; }
      & > * { 
        transform: rotateX(180deg); 
        visibility: visible;
      }

      label {
        margin: 0 0.5rem;
        cursor: pointer;
      
        span {
          border: 2px solid var(--color-border);
          border-radius: var(--radius) var(--radius) 0 0;
          display: flex;
          font-weight: 425;
          padding: 0.15rem 0.5rem;
          border-bottom: none;
          background: none;
          transition: all 0.5s;
  
          &:hover { 
            background: var(--color-bg);
          }
        }

        input:checked + * {
          color: var(--color-text-inverse);
          background: var(--color-bg-secondary);
        }
      }
    }

    & > *:last-child {
      border-top: 2px solid var(--color-border);
      display: flex;
      margin: 0;
      border-radius: 0 0 var(--radius) var(--radius);
      box-shadow: 0 0 2rem 0 #3f474f11;

      code {
        overflow-x: auto;
      }
    }
  }
}

#tools {
  position: relative;
  background: var(--color-bg-secondary);
  padding: 5rem 0;
  clip-path: polygon(0 2rem, 100% 0, 100% 120%, 0 120%);
  border-bottom: 2px solid var(--color-border);
  box-shadow: 0 0 0.5rem 0 var(--color-text);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-top: 2px solid var(--color-border);
    background-color: var(--color-border);
    clip-path: polygon(0 0, 100% 0, 100% 2px, 0 calc(2rem + 2px));
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

#contact {
  padding-top: 5rem;
  padding-bottom: 3rem;

  section {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    & > span {
      text-align: center;
      font-weight: 500;
    }
  }

  .section-heading {
    text-align: center;

    a {
      background-image: url('../assets/squiggle.svg');

      &::after {
        display: none;
      }
    }
  }
}

.section-heading {
  width: 100%;

  a { position: relative; }

  a::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    bottom: -0.5rem;
    border-bottom: 0.5rem solid var(--color-border);
  }
}

.wave-top {
  line-height: 0;
  transform: rotate(180deg);
  filter: drop-shadow(0 -0.15rem 0.25rem var(--color-border));
  &:hover + div .toggle-text::after { opacity: 1; }

  .shape-fill {
    fill: var(--color-bg-secondary);
  }

  svg {
    position: relative;
    width: 100%;
    height: 5rem;
    max-height: 5vw;
  }
}
