@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('_normalize.css');
@import url('_reset.css');

html {
  --color-bg: #f3e9c6;
  --color-bg-secondary: #c1605c;
  --color-bg-tertiary: #98bec8;
  --color-text: #1b272f;
  --color-text-inverse: #fefefe;

  --padding: 1rem;
  --font: "Dosis", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-headings: "Yeseva One", sans-serif;
  --font-size: 1.4rem;

  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background-repeat: repeat;
  background: linear-gradient(var(--color-bg), var(--color-bg)), url('./ruins.svg');
  font-family: var(--font);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  &> * { 
    padding: var(--padding);
    width: 55vw;
    min-width: 320px;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
  
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0.5rem;
    }
  }

  main {
    flex: 1 0 auto;
    padding-bottom: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    a { 
      color: var(--color-text);
      text-decoration: none;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        max-width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

/* other default styling for elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* default styling for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: calc(var(--font-size) * 2);
  font-weight: 900;
}

h2 {
  font-size: calc(var(--font-size) * 1.8);
  font-weight: 800;
}

h3 {
  font-size: calc(var(--font-size) * 1.6);
  font-weight: 700;
  opacity: 0.9;
}

h4 {
  font-size: calc(var(--font-size) * 1.4);
  font-weight: 600;
  opacity: 0.9;
}

h5 {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: 500;
  opacity: 0.8;
}

h6 {
  font-size: calc(var(--font-size) * 1.1);
  font-weight: 500;
  opacity: 0.8;
}

.InlineToggleText {
  display: none;

  & + * > span {
    color: var(--color-text-inverse);
    text-decoration: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      top: 90%;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: var(--color-text-inverse);
      transition: top 0.2s ease-in-out;
    }
  }

  & + * + span {
    display: none;
    width: 0;
    transition: width 0.5s ease-in-out;
    overflow: hidden;

    &::before {
      content: ' (';
    }

    &::after {
      content: ')';
    }
  }

  // hovered
  & + *:hover + span, 
  &:checked + * + span {
    display: inline;
  }

  // selected
  & + * > span:hover::after,
  &:checked + * > span::after {
    top: -1px;
    mix-blend-mode: difference;
  }
}
